<sys-header logo="Sys Design" >
    <ul class="sys-menu">
        <li>
            <a href="#" routerLink="/button"><mat-icon class="mat-18">home</mat-icon> Button</a>
        </li>
        <li>
          <a href="#" routerLink="/card"><mat-icon class="mat-18">home</mat-icon>Card</a>
        </li>
        <li>
          <a href="#"><mat-icon class="mat-18">home</mat-icon> Theme</a>
        </li>
        <li>
          <a href="#"><mat-icon class="mat-18">home</mat-icon> Typography</a>
        </li>
        <li>
          <a href="#"><mat-icon class="mat-18">home</mat-icon> Support</a>
        </li>
    </ul>
    <sys-button icon="attachment" class="rounded"  [iconBtn]="true" ></sys-button>
</sys-header>


<div class="sidebar-container">
  <sys-sidebar>
    <sys-sidebar-item icon="home" label="Home" route="/button"></sys-sidebar-item>
    <sys-sidebar-item icon="fa fa-info-circle" label="About" route="/about"></sys-sidebar-item>
    <sys-sidebar-item icon="fa fa-envelope" label="Contact" route="/contact"></sys-sidebar-item>
  </sys-sidebar>

  <router-outlet></router-outlet>
</div>
