<sys-header logo="Sys Design" subTitle="Front end Library">
    <ul class="sys-menu">
        <li>
            <a href="#"><mat-icon class="mat-18">home</mat-icon> Documentation</a>
        </li>
        <li>
          <a href="#"><mat-icon class="mat-18">home</mat-icon>Example</a>
        </li>
        <li>
          <a href="#"><mat-icon class="mat-18">home</mat-icon> Theme</a>
        </li>
        <li>
          <a href="#"><mat-icon class="mat-18">home</mat-icon> Typography</a>
        </li>
        <li>
          <a href="#"><mat-icon class="mat-18">home</mat-icon> Support</a>
        </li>
    </ul>
    <sys-button icon="attachment" class="rounded"  [iconBtn]="true" ></sys-button>
</sys-header>
<div class="temp">
  <app-button-example></app-button-example>
</div>
