<sys-tabs>
    <sys-tab tabTitle="Tab 1" [active]="true" icon="tab">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo in quaerat qui eos eius, dolores illum vitae earum blanditiis enim dolorem sit aut nobis doloribus praesentium assumenda exercitationem laudantium!</p>
        <sys-button icon="send" color="accent" >
            sys button
        </sys-button>
    </sys-tab>
    <sys-tab tabTitle="Disable Tab" icon="edit" [disable]="true" >
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo in quaerat qui eos eius, dolores illum vita</p>
    </sys-tab>
    <sys-tab tabTitle="Tab 3" icon="delete">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo in quaerat qui eos eius, dolores illum vita</p>
    </sys-tab>
</sys-tabs>